body{
  overflow: hidden;
  background-color: slategray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

h3{
  color: white;
}

header{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  font-size: larger;
}

#startBtn{
  font-size: large;
  background-color: rgb(142, 224, 19);
  border-radius: 20px;
  cursor: pointer;
  height: fit-content;
  align-self: center;
  padding: 10px;
}

#startBtn:hover{
  background-color: rgb(144, 172, 104);
}


.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(194, 194, 194);
}

.miniGrid div, .grid div {
  height: 20px;
  width: 20px;
  border: 1px solid slategrey;
  box-sizing: border-box;
}

.tetromino {
  background-color: blue;
}


.miniGrid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(194, 194, 194);
}

.gameOver{
  position: fixed;
  top: 40%;
  left: 40%;
  display: none;
}

.imgControls{
  display: none;
}

@media (max-width: 1024px){
  .imgControls{
    display: block;
    width: 250px;
    justify-content: center;
    margin: auto;
  }
  .upControls{
    display: flex;
    justify-content: center;
  }
  .upControls img{
    width: 50px;
    margin: 10px;
  }
  .downControls{
    width: 250px;
    display: flex;
    justify-content: center;
  }
  .downControls img{
    width: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
}